@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

.container {
width:100%;
float:left;
padding:0px;
margin-top:10px;
}

header {
height:auto;
background-image: linear-gradient(to bottom, #43A945 0%, #1A8543 100%);
width:100%;
float:left;
}

#cisco_logo_white {
    background-image: url('../images/Cisco_EMSPx_logo.png');
    float: left;
    width: 95%;
    height: 79px;
    margin: -8px 0px 10px 10px;
	background-repeat:no-repeat;
	background-size:contain;	
}



.user_details {
    float: right;
    margin-top: 15px;
    height: 50px;
    width:auto;
    color: #FFF;
    font-size: 11px;
    font-family: verdana,helvetica,arial,sans-serif;
}

.user_image{
	float:left;
	width: 30px;
	height: 30px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url('../images/pic.png');
	border: 2px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	
}
.user_name{
	float:left;
	border-right:#ffffff 1px solid;
	height:20px;
	width:auto;
	padding:0px 10px 0px 10px;
	margin-top:5px;
	
}

.logout{
	float:left;
	border-right:#ffffff 1px solid;
	height:20px;
	width:auto;
	padding:0px 10px 0px 10px;
	margin-top:5px;
	
}
.settings{

	float:left;
	height:20px;
	width:auto;
	padding:0px 10px 0px 10px;
	margin-top:5px;
	
}

.nopadding {
padding-left:0;
padding-right:0;

}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar {
background:none repeat scroll 0% 0% #ffffff;
float:left;
width:100%;
border-radius: 0px;
margin-bottom: 0px;
border:none;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
	color:#ffffff!important;
	border-radius:4px;
	margin-right:40px;
	background: none repeat scroll 0 0 #53585F;
}


.navbar-default .navbar-nav > li > a {
    color:#ffffff;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#ffffff;
    background-color: #3FA645;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#ffffff;
    background-color: #3FA645;
}

.col-md-2 {
    background-color: #E6E6E6;
}

article {
float:left;
width:100%;
margin:0 auto;
background: url('../images/appvis-bg.png') repeat scroll 0% 0% transparent;
}

.toolskit_healthcare {
	color: #FFF;
	margin: 0px 0px 5px;
	padding: 4px;
	background: none repeat scroll 0% 0% #1B8643;
	font-size: 13px;
	font-family: verdana,helvetica,arial,sans-serif;
	text-align: center;
}

.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
}

.bs-sidebar .nav > li > a {
    position: relative;
    display: block;
    padding: 2px 8px;
    margin-bottom: 10px;
	background-color:rgb(87, 76, 76) !important;
}
.bs-sidebar .nav > li > a:hover {
	background-color:#574C4C!important;
	color:#ffffff!important;
}

.titlec {
    background: none repeat scroll 0px 0px #DCE6F2;
    color: #333;
    float: left;
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 4px;
    width: 100%;
}
a.navbar-brand {
display:none;
}
.bs-sidebar {
margin-top:10px;
}
.rightform {
margin-top:10px;
}
.col-md-8 {
padding:0px;
}

#rightcolumn {
padding-left:10px;
padding-right:10px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3FA645;
}

table > thead {
 background-color: #1F4E79;
    color: #FFFFFF;
}
table > tbody {
background-color:#F5F5F5;
}

.table-bordered > thead {
background-color:#5B9BD5
}

.row  h3 {
 /* background-color: #1F4E79;
    color: #FFFFFF; */
	padding:5px;
}

#profile {
    margin: 0 auto;
    width: auto;
	background-color:#F5F5F5;
}

#workflow {
    margin: 0 auto;
    width: auto;
	background-color:#F5F5F5;
}

#profile ol > li {
    margin-left: 10px;
}

.workflow_image img {
padding:35px;

}

@media screen and (max-width: 1025px) {
.navbar-nav > li > a {
margin-right:0px;
}
.btn-primary {
margin-bottom:10px;
}

}

@media screen and (max-width: 1024px) {
.workflow_image img {
padding:35px;
max-width:100%;height:auto;
}
}

@media screen and (max-width: 768px) {
  a.navbar-brand {
display: inline;
color:#ffffff;
}
.navbar-default .navbar-brand {
    color:#ffffff;
}
.row h3 {
font-size:16px;
}

@media screen and (max-width: 480px) {
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
font-size:8px;
}
}
