@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body{
	
	float:left;
	width:100%;
	height:100%;
}
	
header{height:135px; width:100%;}
.header_part{width:100%; height:135px; background-image: linear-gradient(to bottom, #3165B3 0%, #2AAFE1 100%); margin:0px auto; padding:0px; }
/***********SuperAdmin******************/
 #banner_health_admin {
    background-image: linear-gradient(to bottom, #04BBCE 0%,  #04CCAE 100%);
    height: 85px;
    
     /*New */ 
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #04BBCE), color-stop(1, #04CCAE));
}
#banner_health_admin h6 {
	float:left;
	margin: 30px 0 0 215px;
	font-family: verdana,helvetica,arial,sans-serif;
    font-size: 14px;
    color:#FFFFFF;
	
}
#cisco_logo_white {
	background-image: url('../images/Cisco_EMSPx_logo.png');
	float:left;
	width:366px;
	height:79px;
	margin: -8px 0 0 9px;;
}
.user_details{
	float:right;
	margin-top: 15px;
	height:50px;
	width:330px;
	color: #fff;
	font-size:11px;
	font-family: verdana, helvetica, arial, sans-serif;
}
.user_image{
	float:left;
	width: 30px;
	height: 30px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url('../images/pic.png');
	border: 2px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	
}
.user_name{
	float:left;
	border-right:#ffffff 1px solid;
	height:20px;
	width:35%;
	padding:0px 10px 0px 10px;
	margin-top:5px;
	
}

.logout{
	float:left;
	border-right:#ffffff 1px solid;
	height:20px;
	width:60px;
	padding:0px 10px 0px 10px;
	margin-top:5px;
	
}
.settings{

	float:left;
	height:20px;
	width:40px;
	padding:0px 10px 0px 10px;
	margin-top:5px;
	
}
/***********************SuperAdminSection**********************/ 
.adminpanel {
	
	margin:0px 0px 0px 90px;
	float: left;
	width:605px;
	/*padding:30px 20px 20px 65px;*/
	height:436px;

	
}

.adminpanel .companyname{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #companyname{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .noofemp{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #noofemp{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:263px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .lineofbusiness{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #lineofbusiness{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:264px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .address{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #address{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}

.adminpanel .city{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #city{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .state{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #state{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:263px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .country{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #country{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:263px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .telephone{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #telephone{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:117px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 7px;
	margin-bottom: 5px;
}
.adminpanel #countrycode{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:13px;
	width:110px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}

.adminpanel .fname{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #fname{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .lname{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #lname{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}

.adminpanel .email{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #email{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .username{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #username{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .password1{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #password1{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adminpanel .password2{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:13px;
	margin-left: 0px;
	
}
.adminpanel #password2{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:250px;
	float:left;
	margin-top:10px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 30px;
	margin-bottom: 5px;
}

.adminpanel .termscond{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:180px;
	float:left;
	margin-top:18px;
	margin-left: 0px;
	
}
.adminpanel #termscond{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	float:left;
	margin-top:20px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 18px;
	margin-bottom: 5px;
}
.adminpanel #upload{
	color:#164F86;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	float:left;
	margin-top:20px;
	padding:6px;
	border:#164F86 1px solid;
	border-radius:4px;
	margin-left: 10px;
	margin-bottom: 5px;
	background:#FFFFFF;
}
.adminpanel .termsaccpet{
	color:#000;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:12px;
	width:250px;
	float:left;
	margin-top:17px;
	margin-left: 10px;
	
}

.adminpanlsubmit {
	float: right;
	width: 100px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	/*color: #ffffff;*/
	/*background-image: linear-gradient(to bottom, #E3ECFF 0%, #A6C5FF 100%);*/
	/*background: none repeat scroll 0 0 #8C8E1F;*/
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    margin-right:10px;
   
       
}
.adminpanlcancel {
	float: right;
	width: 100px;
	height: 23px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background: none repeat scroll 0 0 #8C8E1F;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
	
	
}
.adminpanlcancel a {
	padding-top: 0px 5px 5px 0px;
	text-decoration : none;
	color: #ffffff;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	text-decoration: none;
	width: 100px;
	float: right;
	
}
.adminpanlsubmit a {
	padding-top: 0px 5px 5px 0px;
	text-decoration : none;
	color: #ffffff;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	text-decoration: none;
	width: 100px;
	float: right;
	
}
.titlec_health{
 	background: none repeat scroll 0 0 #254061;
    color: #ffffff;
    float: left;
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 4px;
    width: 100%;
    margin-bottom:20px;
}

#search{
	color:#333333;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:14px;
	width:312px;
	float:right;
	padding:6px;
	border:#E2E2E2 2px solid;
	border-radius:4px;
	margin-left: 30px;
}
.status_area{ float:left; width:802px; height:300px; margin: 15px 0 0 75px;}
.name{ float:left; width:200px;padding:10px; font-size:14px; text-align:center; border:#91B0D6 1px solid; background:#4F81BD; color:#ffffff;}
.comments{ float:left; width:200px;padding:10px; font-size:14px; text-align:center; border:#91B0D6 1px solid; background:#4F81BD; color:#ffffff;}
.status{ float:left; width:200px; padding:10px; font-size:14px; text-align:center; border:#91B0D6 1px solid; background:#4F81BD; color:#ffffff;}
.publish{ float:left; width:200px; padding:10px; font-size:14px; text-align:center; border:#91B0D6 1px solid; background:#4F81BD; color:#ffffff;}
.name_data{ float:left; width:200px;padding:4px; font-size:14px; text-align:left; border:#E1E6F0 1px solid; background:#CFD7E7; color:#00005C; height:55px;}
.comments_data{ float:left; width:200px;padding:4px; font-size:14px; text-align:left; border:#E1E6F0 1px solid; background:#CFD7E7; color:#00005C; height:55px;}
.status_data{ float:left; width:200px; padding:4px; font-size:14px; text-align:left; border:#E1E6F0 1px solid; background:#CFD7E7; color:#00005C; height:55px;}
.publish_data{ float:left; width:200px; padding:4px; font-size:14px; text-align:left; border:#E1E6F0 1px solid; background:#CFD7E7; color:#00005C;height:55px;}
.status_data a{  width:200px; height:20px; background:red; color:#fff;}
.statusbtn_pending{ width:85px; height:26px; 	background:url('../images/pending_image.jpg') no-repeat; margin: 5px 0 0 52px;}
.statusbtn_approve{ width:85px; height:26px; 	background:url('../images/approve.png') no-repeat; margin: 5px 0 0 52px;}
.statusbtn_reject{ width:85px; height:26px; 	background:url('../images/reject.jpg') no-repeat; margin: 5px 0 0 52px;}
.userinfo{
	margin-top:0px;
	float: left;
	width:960px;
	padding:20px;
	border-top:#E3E3E3 1px solid;
	font-size:14px;
	font-weight:bold;
	color:#333;
	
}
.serialno{
	
	float:left;
	width:70px;
	height:30px;
	text-align:center;
	
}
.uiname{
	
	float:left;
	width:200px;
	height:30px;
	text-align:center;
	
}
.uiemailid{
	
	float:left;
	width:250px;
	height:30px;
	text-align:center;
	
}
.organization{
	
	float:left;
	width:200px;
	height:30px;
	text-align:center;
}
.role{
	
	float:left;
	width:180px;
	height:30px;
	text-align:center;
	
}
.userinfo_details {
    width: 942px;
    min-height: 100px;
    height: auto;
    margin: 0px 0px 0px 15px;
    padding: 10px 10px;
    display:table;
    overflow:hidden;
    border-top:#888888 2px solid;
   
}
.serialno_data{
	
	float:left;
	width:70px;
	height:30px;
	text-align:center;
	
	
}
.uiname_data{
	
	float:left;
	width:200px;
	height:30px;
	text-align:left;
	
	
}
.uiemailid_data{
	
	float:left;
	width:250px;
	height:30px;
	text-align:left;
	
	
}
.organization_data{
	
	float:left;
	width:205px;
	height:30px;
	text-align:center;
	
}
.role_data{
	
	float:left;
	width:180px;
	height:30px;
	text-align:center;
	
	
}
.arrow_admin{
	
	/* background: url('../images/arrow_admin.png') no-repeat; */
	background: url('/images/arrow_admin.png') no-repeat;
	width:94px;
	height:12px;
	margin: 26px 10px 10px 90px;
	
}
.arrow_ad{
	margin: -20px 10px 10px 65px;
	font-size:60px;
	color:#008A1E;
	position: absolute;
}
.submit_Area {
    float: right;
    height: 30px;
    margin-right: 52px;
    margin-top: 386px;
    width: 210px;
}
.title_superadmin{  padding:4px;}
#companyError{ float:left; width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#addresserror{ float:left; width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#cityError{ float:left; width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#countryError{ float:left; width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#noofemperror{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#lineofbusinesserror{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#stateError{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#telephoneError{ float:left; width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#countrycodeError{ float:left; width:154px; height:20px; color:red; margin:51px 0 0 -423px; font-size:12px;}
#fnameerror{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#lnameerror{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#emailerror{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#usernameerror{
	 margin: 15px 0 0 4px;
    width: 120px;
	float:right;  color:red;  font-size:11px; padding:0px; }
#passworderror{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#confpassworderror{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
#termsconderror{ float:left;  width:154px; height:20px; color:red; margin:19px 0px 0px 4px; font-size:12px;}
#uploaderror{ float:left;  width:154px; height:20px; color:red; margin:26px 0px 0px 4px; font-size:12px;}

.errorbox{ float:left;  width:154px; height:20px; color:red; margin:15px 0px 0px 4px; font-size:12px;}
.statusmessage{ float:left; color:red; width:100%;}